<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign UP</title>
  </head>
  <body>
    <h2>Sign Up</h2>
    <form action="/signup" method="post">
      <p>
        <label>ID : <input type="text" name="userid" /></label>
      </p>
      <p>
        <label>PW: <input type="password" name="userpw" /></label>
      </p>
      <p>
        <label>Name: <input type="text" name="name" /></label>
      </p>
      <p>
        <label>Age: <input type="text" name="age" /></label>
      </p>
      <p><button type="submit">완료</button></p>
      <p>
        이미 계정이 있으신가요? <a href="/login">로그인</a> |
        <a href="/">메인으로</a>
      </p>
    </form>
  </body>
</html>
