#wrap {
  width: 100%;
}
/* 상단 부분 */
#header {
  width: 100%;
  height: 165px;
}

#header_in {
  width: 1200px;
  height: 165px;
  margin: 0 auto;
}

#header_in .logo {
  line-height: 100px;
  width: 100%;
  height: 100px;
  font-size: 30px;
  color: #444;
  text-align: center;
}

#header_in .nav {
  width: 100%;
  height: 65px;
}
#header_in .nav li {
  float: left;
  width: 171px;
  height: 65px;
  text-align: center;
  line-height: 65px;
}
#header_in .nav li a {
  font-size: 18px;
  font-weight: 600;
}

/* 메인 이미지 */
#main_img {
  width: 100%;
  height: 805px;
  background-image: url(../images/visual.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0;
  /* background: url(../images/visual.jpg) no-repeat 50% 0 ; */
}

/* 콘텐츠 부분 */
#contents {
  width: 100%;
}

#contents_in {
  width: 1200px;
  height: 1600px;
  margin: 0 auto;
}

/* 인기상품 */
.product {
  float: left;
  width: 598px;
  height: 670px;
  border: 1px solid #ccc;
}

.product h3 {
  width: 590px;
  height: 70px;
  font-size: 18px;
  font-weight: 500;
  line-height: 70px;
  padding: 5px;
}

/* .product img {
} */

/* .product .info_box {
} */
.product .info_box > h4 {
  float: left;
  margin: 40px 0 0 20px;
  font-size: 40px;
}

.product .info_box .group {
  float: left;
  margin: 45px 0 0 20px;
}
/* 한줄에 한개만 존재 두개 이상일 경우 문단그룹으로 묶어줌*/
.product .info_box p {
  font-size: 20px;
}
.product .info_box span {
  font-size: 14px;
}
.product .info_box > a {
  float: right;
  margin: 55px 20px 0 0;
  font-size: 18px;
}

/* 리스트 박스 부분 */
.list_box {
  float: right;
  width: 545px;
  background-color: burlywood;
}
.list_box > ul {
  margin-top: 50px;
}
.list_box > ul > li {
  border-bottom: 1px solid #ccc;
  height: 160px;
}
.list_box li > h4 {
  margin: 55px 0 0 20px;
  font-size: 40px;
  float: left;
}
.list_box li > img {
  float: left;
  margin: 25px 0 0 20px;
}
.list_box li > .group {
  float: left;
  margin: 60px 0 0 20px;
}
.list_box li > .group > p {
  font-size: 20px;
}
.list_box li > .group > span {
  font-size: 14px;
}
.list_box li > a {
  float: right;
  margin: 60px 5px 0 0;
  font-size: 16px;
  color: lawngreen;
}
/* 하단 부분  */
#footer {
  width: 100%;
  height: 165px;
  background-color: palevioletred;
}

#footer_in {
  margin: 0 auto;
  width: 1200px;
  height: 165px;
  background-color: hotpink;
}
