@import "./Detail4Reset.scss";

$메인컬러: #ff0000;

.wow-enter {
  //애니메이션 시작 때 적용할 css
  opacity: 0;
}

.wow-enter-active {
  //애니메이션 동작 때 적용할 css
  opacity: 1;
  transition: all 500ms;
}

.red {
  color: $메인컬러;
}

div.container {
  h4 {
    color: red;
  }
  p {
    color: green;
  }
}

.my-alert {
  background-color: #eeeeee;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  margin: auto;
}

.my-alert-red {
  @extend .my-alert;
  background-color: red;
}

@mixin 함수() {
  background-color: grey;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  margin: auto;
}

.my-alert3 {
  @include 함수();
}

.my-alert p {
  margin-bottom: 0;
}
